.header {
    background-color: Lavender;
}

.header {
    text-align: center;
}

.about-me {
    font-size: 20px;
}

.about-me {
    opacity: 50%;
}

.title {
    font-weight: bold;
}

h1 {
    color: MediumPurple;
}

body {
    font-family: Georgia;
}

body {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png);
}

h2 {
    text-align: left;
    color: Indigo;
}

.footer {
    background-color: Lavender;
}

ul {
    font-family: Serif;
    font-size: x-large;
}